body {
    font-family: 'Noto Sans';
    line-height: 1.6;
    color: #ffffff;
    background-color: #000000;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0px;
}

header {
    grid-area: header;
    background-color: #1a1a1a;
    padding: 16px;
    margin: 0px;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside {
    grid-area: sidebar;
    background-color: #1e1e1e;
    padding: 16px;
    margin: 0px;
    border-right: 1px solid #333;
}

aside ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

aside li {
    margin-bottom: 6px;
    font-size: 14px;
}

aside details ul {
    margin-top: 6px;
}

aside details ul li {
    margin-left: 16px;
    font-size: 14px;
}

aside a {
    font-size: 14px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    padding: 12px;
    transition: all 0.3s ease;
}

aside details > summary:hover, summary:focus {
    background-color: #333;
    color: #ffffff;
}

aside details > summary {
    display: block;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    padding: 12px;
    transition: all 0.3s ease;
}

aside details[open] > summary {
    display: block;
    text-decoration: none;
    border-radius: 4px;
    padding: 12px;
    transition: all 0.3s ease;
    background-color: #fff;
    color: #000000;
}

aside a:hover, a:focus {
    background-color: #333;
    color: #ffffff;
}

main {
    grid-area: main;
    padding: 16px;
    background-color: #121212;
}

main section {
    margin-bottom: 32px;
    padding: 24px;
    background-color: #1a1a1a;
}

main a:link {
    color: #00a000;
    text-decoration: none;
}

main a:visited {
    color: #00a000;
    text-decoration: none;
}

main a:hover {
    color: #00f000;
    text-decoration: underline;
}

main a:active {
    color: #00f000;
    text-decoration: underline;
}

footer {
    grid-area: footer;
    background-color: #1a1a1a;
    padding: 24px;
    text-align: center;
    border-top: 1px solid #333;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
}

h4 {
    font-size: 22px;
    margin: 0px;
}

h5 {
    font-size: 18px;
    margin: 0px;
}

h6 {
    font-size: 18px;
    margin: 0px;
}

p {
    font-size: 14px;
}

math {
    font-size: 20px;
}

a {
    font-size: 14px;
}

ul {
    list-style-type: square;
}

.basic-ul-none {
    list-style-type: none;
}

li {
    font-size: 14px;
}

.basic-ul-none li {
    margin: 6px 0 0 0;
}

ol li {
    margin: 6px 0 0 0;
}

table {
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #ffffff;
}

tr {
    border: 2px solid #ffffff;
}

th, td{
    border: 2px solid #ffffff;
    text-align: center;
    padding: 8px;
    font-size: 14px;
}

th {
    font-size: 18px;
}
